.reviewsCart {
  padding: 20px 26px;
  border: 1px solid var(--grey);
  box-shadow: 0 0 10px var(--grey);
  border-radius: 10px;
}

.light {
  color: var(--black);
  background-color: var(--white);
}

.dark {
  color: var(--white);
  background-color: var(--darkGrey);
}

.reviewsContent {
  display: flex;
  flex-direction: row;
}

.reviewForm {
  margin-left: 80px;
}
