.tabsHeader {
  width: 100vw;
  background-color: var(--black);
}

.tabsImage {
  background-image: url("./tabs-background-image.jpg");
  background-position: bottom;
  background-size: cover;
  height: 200px;
  width: 100vw;
}

.tabsContent {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 25px;
}

.buttonTabs {
  padding: 18px;
  color: var(--white);
  text-decoration: none;
}
