.tabsHeader {
  width: 100vw;
  background-color: var(--black);
}

.tabsContent {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 25px;
}

.buttonTabs {
  font-size: 16px;

  line-height: 1.5;
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  position: relative;
}

.buttonTabs::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 0.3s;
}

button:hover::before {
  opacity: 1;
}
