.buttonCounter {
  width: 36px;
  height: 36px;
  color: var(--black);
  background-color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}

.valueCounter {
  text-align: center;
  color: var(--grey);
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 28px;
}
