.header {
  height: 25px;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  align-items: center;
  background: var(--black);
  color: var(--white);
}

.headerContent {
  text-decoration: none;
  color: var(--orange);
}
